/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*common padding*/
    .c_padding {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    header {
        padding: 10px 0;
    }

    /*header start*/
    .menu ul li a {
        padding: 10px 0 0 !important;
        font-size: 20px;
        text-align: right;
        padding: 0;
    }

    /*slider start*/
    .slider {
        padding-bottom: 70px;
    }

    .c_ind {
        bottom: -60px;
    }

    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;

    }

    .s_text {
        margin-top: 0px;
    }

    .s_text h1 {
        font-size: 25px;

    }

    .s_text h2 {
        margin: 10px 0;
        font-size: 18px;

    }

    .s_text p {
        margin-bottom: 20px;
    }

    .s_icon ul li {
        margin-right: 15px !important;
    }

    .s_icon ul li i {
        font-size: 35px;
    }

    /*feature*/

    .c_h1 {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .c_p {
        font-size: 17px;
        line-height: 25px;
    }

    .c_mt {
        margin-top: 20px;
    }

    .f_item {
        margin-top: 30px;
    }

    .f_icon {
        margin-top: 0px;
        font-size: 35px;

    }

    .f_icon i {
        font-size: 40px;
    }

    .f_text {
        text-align: center;
    }

    .f_text h2 {
        margin-bottom: 5px;
        font-size: 20px;
        /*padding: 0 20px !important;*/
    }

    .f_text p {
        letter-spacing: 0px;
        /*padding: 0 20px !important;*/
    }

    /*contact start*/
    .c_form {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .c_input {
        height: 45px;
        padding: 10px 10px;

    }

    .c_submit {
        height: 45px;

    }

    .c_icon li {
        margin-right: 25px;
    }

    .c_icon li i {
        font-size: 38px;
    }

    /*footer start*/
    footer {
        padding-bottom: 70px;
    }

    .f_1 {
        text-align: center;

    }

    .f_2 {
        margin-top: 40px;
        text-align: center;
    }



}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /*common padding*/
    .c_padding {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    /*header start*/
    header {
        padding: 10px 0;
    }

    .menu ul li a {

        margin: 10px 0 0;
        font-size: 20px;
        text-align: right;
        padding: 0;
    }

    /*slider start*/
    .slider {
        padding-bottom: 60px;
    }

    .c_ind {
        bottom: -50px;
    }

    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;

    }

    .s_text {
        margin-top: 20px;
    }

    .s_text h1 {
        font-size: 25px;

    }

    .s_text h2 {
        margin: 10px 0;


    }

    .s_text p {
        margin-bottom: 25px;
    }

    .s_icon li {
        margin-right: 25px !important;
    }

    .s_icon li i {
        font-size: 35px;
    }

    /*feature*/

    .c_h1 {

        font-size: 25px;
    }

    .c_p {
        font-size: 18px;

    }

    .c_mt {
        margin-top: 20px;
    }

    .f_item {
        margin-top: 30px;
    }

    .f_icon i {

        font-size: 40px;

    }

    .f_text {
        text-align: center;
    }

    .f_text h2 {
        margin-bottom: 5px;
        font-size: 20px;
        padding: 0 20px !important;
    }

    .f_text p {
        letter-spacing: 0px;
        padding: 0 20px !important;
    }

    /*contact start*/
    .c_form {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .c_input {
        height: 45px;
        padding: 10px 10px;

    }

    .c_submit {
        height: 45px;

    }

    .c_icon li {
        margin-right: 25px !important;
    }

    .c_icon li i {
        font-size: 40px;
    }

    /*footer start*/
    footer {
        padding-bottom: 70px;
    }

    .f_1 {
        text-align: center;
        margin-bottom: 40px;
    }

    .f_2 {
        text-align: center;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*common padding*/
    .c_padding {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    /*header start*/
    .menu ul li a {

        padding: 10px 0 0 !important;
        text-align: right;
    }

    /*slider*/
    .c_ind {
        bottom: -80px;
    }

    /*feature start*/
    .c_mt {
        margin-top: 40px;
    }

    .f_text {
        text-align: center;
    }

    .f_item {
        margin-top: 50px;
    }

    /*contact start*/
    .c_form {
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .c_icon li {
        margin-right: 20px !important;
    }

    .c_icon li i {
        font-size: 35px;
    }

    /*footer start*/
    footer {
        padding-bottom: 100px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .menu ul li a {

        padding: 10px 35px 0 !important;

    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .menu ul li a {
        padding: 0 46px !important;
    }


}